# Application
NODE_ENV=development
PORT=3000

# Database
DATABASE_URL="postgresql://<DB_USER>:<DB_PASSWORD>@<DB_HOST>:<DB_PORT>/<DB_NAME>"

HOST=localhost
USER=<DB_USER>
PASSWORD=<DB_PASSWORD>
DATABASE_NAME=<DB_NAME>
DATABASE_PORT=5432

# JWT
ACCESS_SECRET=<YOUR_ACCESS_SECRET>
REFRESH_SECRET=<YOUR_REFRESH_SECRET>